{
	auto_https off
	servers {
		protocols h1 h2
	}
}

https://:8118 {
	tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem
	encode gzip
	handle /api/internal* {
		respond "Not Found" 404
	}
	handle /api* {
		reverse_proxy api:8000
	}
	handle {
		reverse_proxy web:80
	}
}
